<form (ngSubmit)="addBook()" #bookForm="ngForm" class="mb-3">
  <input class="form-control mb-2" type="text" name="titulo" [(ngModel)]="newBook.titulo" placeholder="Titulo" required>
  <input class="form-control mb-2" type="text" name="autor" [(ngModel)]="newBook.autor" placeholder="Autor" required>
  <input class="form-control mb-2" type="text" name="editora" [(ngModel)]="newBook.editora" placeholder="Editora" required>
  <input class="form-control mb-2" type="number" name="preco" [(ngModel)]="newBook.preco" placeholder="Preco" required>
  <button class="btn btn-success" type="submit">Cadastrar Livro</button>
</form>

<table class="table table-bordered">
  <thead>
      <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Editora</th>
          <th>Preco</th>
          <th>Ações</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let book of books">
          <td>{{ book.titulo }}</td>
          <td>{{ book.autor }}</td>
          <td>{{ book.editora }}</td>
          <td>{{ book.preco | currency: 'BRL' }}</td>
          <td>
              <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">Remover</button>
          </td>
      </tr>
  </tbody>
</table>
